<div class="strip-grey strip approach">
    <div class="container pt-4 pb-4 pt-md-12 pb-md-12 pt-lg-20 pb-lg-20">
        <div class="row justify-content-start">
            <div class="col-12">
            {% if page.approach-title %}<h2 class="small-upper">{{ page.approach-title }}</h2>{% endif %}
            </div>  
            {% assign approach = site.data.approach.approach | sort: 'order' %}
            {% for item in approach %}
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <i class="bi {{ item.icon }}"></i>
                <h4>{{ item.step }}</h4> <!-- Changed to 'step' -->
                <p>{{ item.description }}</p> <!-- Changed to 'description' -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
