<div class="strip-secondary about">
    <div class="container pt-4 pb-4 pt-md-8 pb-md-12">
        <div class="row justify-content-center">
            <div class="col-12">
                {% if site.data.about.title %}<h2 class="small-upper">{{ site.data.about.title }}</h2>{% endif %}
                <p class="h3">{{ site.data.about.text }}</p>
                <a class="h4 arrow" href="{{ site.data.about.link }}">{{ site.data.about.link-text }}</a>
            </div>
        </div>
    </div>
</div>
