.quicklinks {
	h3 {
		font-weight: bold;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			font-size: 1.2em;
			margin: 0;
			padding-top: $grid-gutter-width;
			padding-bottom: $grid-gutter-width;
			list-style:none;
			display: block;
			border-top: 1px solid $white-offset;
			a {
				color: $steel;
			}
		}
		border-bottom: 1px solid $white-offset;
	}
}

.quicklinks-small {
	h3 {
		font-weight: bold;
    margin-bottom: $grid-gutter-width / 2;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			font-size: 1em;
			margin: 0;
			padding-top: $grid-gutter-width / 2;
			padding-bottom: $grid-gutter-width / 2;
			list-style:none;
			display: block;
			border-top: 1px solid $white-offset;
			a {
				color: $steel;
			}
		}
		border-bottom: 1px solid $white-offset;
	}
}

.intro-block-text {
	font-size: 1.5em;
}