.page-home {
	.intro {
		li {
			font-size: 1.2rem;
	        margin-left: 40px;
	        font-weight: regular;
	        color: rgb(104, 104, 104);
		}
	}
	.hero {
		position: relative;
		width: 100%;
		height: calc(100vh - 80px);
		overflow: hidden;
		color: #fff;
		display: flex;
		align-items: center;
		min-height: 550px;
		padding-top: 0px;
		h1, p {
			color: #fff;
		}
	}
}


.floating-background {
	background-color:#130950;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 80px);
	z-index: 0;
	overflow: hidden;
	z-index: 0.1;
	min-height: 550px;
}
.floating-circle {
	position: absolute;
	border-radius: 50%;
	filter: blur(60px);
	animation: float 5s infinite ease-in-out;
}
@keyframes float {
	0%, 100% { transform: translate(0, 0); }
	50% { transform: translate(var(--translate-x), var(--translate-y)); }
}
#backgroundCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 80px);
	min-height: 550px;
	z-index: 0.5;
}