.quicklinks {
	h3 {
		font-weight: bold;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			@include media-breakpoint-up(md) {
				font-size: 1.2em;
			}
			margin: 0;
			padding-top: $grid-gutter-width;
			padding-bottom: $grid-gutter-width;
			list-style:none;
			display: block;
			border-top: 1px solid $white-offset;
			a {
				color: $steel;
			}
		}
		border-bottom: 1px solid $white-offset;
	}
}

.practice {
	.pe {
		.small-upper {
			margin: $grid-gutter-width 0;
		}
	}
}

.help-areas {
	.bi {
	  font-size: 2em;
	  text-align: center;
	  display: block;
	  margin: 0px auto $grid-gutter-width auto;
	}
  }
  
  .challenges {
	.bi {
	  font-size: 2em;
	  text-align: center;
	  display: block;
	  margin: 0px auto $grid-gutter-width auto;
	}
  }