.header {
  color: $primary;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  z-index: 999;
  border-bottom: 0px;
  position: relative;
  &.scrolled {
    position: sticky;
    top: 0px;
    background: $white;
    box-shadow: 0px 10px 10px rgba(0,0,0,.5)
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}

header.white {
  &.scrolled {
    background-color: $secondary;
  }
}

.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}