.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    > li {
      list-style: none;
      font-size: 1rem;
      position: relative;
      > a {
        padding: 10px 12px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: none;
          color: $primary-dark;
        }
      }
      &.active > a {
        font-weight: bold;
        text-decoration: none;
        color: $primary-dark;
        &:hover {
          text-decoration: none;
          transition: all 225ms ease-in 0s;
        }
      }
      &.dropdown {
        cursor: pointer;
        > a::after {
          content: "";
          margin-left: 8px;
          display: inline-block;
          width: 1em;
          height: 1em;
          background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"%3E%3Cpath fill="currentColor" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E');
          background-size: contain;
          background-repeat: no-repeat;
          vertical-align: middle;
          color: inherit;
        }
        &:hover > .dropdown-content {
          display: block;
        }
      }
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $navy-blue;
    z-index: 1000;
    min-width: 320px;
    > ul {
      min-width: 320px;
      max-width: 1200px; /* Set a max-width if needed */
      margin: 0 auto;
      padding: 0;
      list-style: none;
      > li {
        > a {
          padding: $grid-gutter-width;
          text-decoration: none;
          display: block;
          color: $primary;
          &:hover {
            color: $white;
            background-color: darken($secondary, 10%);
          }
          > strong {
            color: $white;
            display: block;
          }
          > span {
            color: $white;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.white .main-menu {
  > ul {
    > li {
      > a {
        color: $white;
        &:hover {
          opacity: 0.8;
        }
      }
      &.active > a {
        opacity: 0.8;
      }
    }
  }
}