.sub-footer {
  background: darken($secondary,10%);
  color: $steel;
  padding: $grid-gutter-width 0;
  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  .copyright {
    margin-top: 10px;
    font-size: 14px;
    a {
      font-weight: bold;
      color: inherit;
    }
  }
  .social {
    a:first-of-type {
      margin-left: -10px;
    }
  }
}
