p {
  line-height: 26px;
  color: $steel;
  font-family: $font-family-base;
  margin-bottom: 20px;
}
h1 {
  font-size: 32px;
  font-family: $font-family-heading;
  line-height: 1.2;
  margin-bottom: 1em;
  @include media-breakpoint-up(md) {
    font-size: 56px;
    line-height: 1.2;
  }
}
h2 {
  font-size: 28px;
  font-family: $font-family-heading;
  line-height: 1.4;
  margin-bottom: 1em;
  @include media-breakpoint-up(md) {
    font-size: 48px;
    line-height: 1.4;
  }
}
h3 {
  font-size: 20px;
  font-family: $font-family-heading;
  line-height: 1.4;
  margin-bottom: 1em;
  @include media-breakpoint-up(md) {
    font-size: 40px;
    line-height: 1.4;
  }
}
h4 {
  font-size: 16px;
  font-family: $font-family-heading;
  line-height: 1.4;
  margin-bottom: 1em;
  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 1.4;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

.small-upper {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
  font-weight: bold;
  margin-bottom: 2.5em;
}

.post {
  ul, ol {
    margin-left: 1em;
    line-height: 26px;
    color: $steel;
    font-family: $font-family-base;
    margin-bottom: 20px;
   li {
    margin-bottom: 8px;
   }
  }
}