---
layout: default
bodyClass: "approach"
---

<div class="intro container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 text-center">
            <h1 class="title">{{page.title}}</h1>
        </div>
        <div class="col-12 text-center quicklinks">
            <ul>
                <li><a class="arrow scroll-link" href="#overview">Overview</a></li>
                {% assign sections = page.framework-sections %}
                {% for section in sections %}
                <li><a class="arrow scroll-link" href="#{{ section.id }}">{{ section.section }}</a></li>
                {% endfor %}
                <li><a class="arrow scroll-link" href="#how-we-work">How We Work</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="strip-secondary intro-block">
    <div id="overview" class="container pb-6 pt-6 pt-md-10 pb-md-10">
        <div class="row justify-content-start">
            <div class="col-12">
                <p class="large">{{ page.hook-block[0] }}</p>
                <p class="large">{{ page.hook-block[1] }}</p>
                <p class="large"><strong>{{ page.hook-block[2] }}</strong></p>
            </div>
        </div>
    </div>
</div>

{% for section in page.framework-sections %}
<div class="section-header">
    <div class="container pt-10">
        <div class="row justify-content-start">
            <h2 id="{{ section.id }}" class="h3">{{ section.section }}</h2>
        </div>
    </div>
</div>
<div class="strip Domain">
    <div class="container pb-10">
        <hr/>
        <div class="row justify-content-start">
            <div class="col-12 col-md-6">
                <h3 class="small-upper">The Business Challenge</h3>
                <p class="large">{{ section.challenge }}</p>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="small-upper">Our Solution</h3>
                <p class="large">{{ section.solution }}</p>
            </div>
        </div>
        <hr />
        <div class="row justify-content-start">
            <div class="col-12">
                <h3 class="small-upper">Relevant Frameworks</h3>
            </div>
        </div>
        <div class="row justify-content-start frameworks">
            {% for framework in section.frameworks %}
            <div class="col-6 col-md-4 col-lg-3">
                <p class="large"><strong>{{ framework.name }}</strong></p>
                <p>{{ framework.description }}</p>
            </div>
            {% endfor %}
        </div> <!-- close row justify-content-center frameworks -->
        <hr />
    </div> <!-- close container pb-10 -->
</div> <!-- close strip Domain -->
{% endfor %}
{% include block-approach.html %}
{% include scroll-links.html %}
