---
layout: default
bodyClass: "page-services"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6 pb-md-10">
    <h2>Domains of Expertise</h2>
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_domains | default: 6 %}
      {% for domain in site.domains limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ domain.url | relative_url }}">{{ domain.title }}</a>
            </h2>
            <p>{{ domain.excerpt | markdownify | strip_html | truncate: 200 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
