---
layout: default
bodyClass: "page-home"

---

<div class="intro hero">
  <div class="container">
    <div class="row justify-content-center text-center">
      <h1 class="col-12 order-1">{{ page.hero-heading}}</h1>
      <div class="col-12 col-md-8 col-lg-6 order-2">
      <p class="large">{{ page.hero-text}}</p>
      <a class="large arrow" href="{{absolute_url }}/{{ page.hero-link }}">{{ page.hero-link-text }}</a>
      </div>
    </div>
  </div>
</div>

<div class="strip quicklinks">
  <div class="container pt-4 pb-4">
    <div class="row justify-content-start">
      <div class="col-12">
        <h2 class="small-upper text-center">{{ page.hook-title }}</h3>
      </div>        
      <div class="col-12 col-md-6 mb-2">
        <h3>{{ page.frameworks-title }}</h3>
        <ul>
          {% assign frameworks = site.data.frameworks.frameworks | sort: 'weight' %}
          {% for item in frameworks %}
            <li><a class="arrow" href="{{ item.url | absolute_url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <h3>{{ page.pe-title }}</h3>
        <ul>
          {% assign expertise = site.data.pe.expertise | sort: 'weight' %}
          {% for item in expertise %}
          <li><a class="arrow" href="{{ item.url | absolute_url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% include block-about.html %}
{% include block-approach.html %}
{% include block-quotes.html %}