---
layout: default
bodyClass: "page-basic"
---

<div class="intro container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 text-center">
            <h1 class="title">{{page.title}}</h1>
        </div>
        <div class="col-12 text-center">
            <h2 class="h4">{{ page.subtitle }}</h2>
        </div>
        <div class="col-12 text-center quicklinks">
            <ul>
                <li><a class="arrow scroll-link" href="#overview">Overview</a></li>
                {% assign expertise = site.data.pe.expertise | sort: 'weight' %}
                {% for item in expertise %}
                <li><a class="arrow scroll-link" href="{{ site_url }}/{{item.url}}">{{ item.name }}</a></li>
                {% endfor %}
                <li><a class="arrow scroll-link" href="#how-we-work">How We Work</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="strip-secondary intro-block">
    <div class="container pb-6 pt-6 pt-md-10 pb-md-10">
        <div class="row justify-content-start">
            <div class="col-12">
                <h2 id="overview" class="small-upper text-center">{{ page.intro-block-header }}</h2>
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center">
            {% for item in page.intro-items %}
            <div class="col-12 col-md-4 text-center">
                <i class="bi {{ item.icon }}"></i>
                <h4>{{ item.intro-item }}</h4>
                <p>{{ item.description }}</p>
            </div>
            {% endfor %}
        </div>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <p class="large">{{ page.intro-block-text }}</p>
            </div>
        </div>
    </div>
</div>


{% for section in page.sections %}
<div id="{{ section.id | replace: ' ', '-' }}" class="section-header">
    <div class="container pt-10">
        <div class="row justify-content-start">
            <h2 class="h3">{{ section.section }}</h2>
        </div>
    </div>
</div>
<div class="strip">
    <div class="container pb-10">
        <div class="row justify-content-start">
            <div class="col-12">
                <h3 class="small-upper">Challenges</h3>
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center">
            {% for challenge in section.challenges %}
            <div class="col-12 col-md-4">
                <i class="bi {{ challenge.icon }}"></i>
                <h4>{{ challenge.challenge }}</h4>
                <p>{{ challenge.description }}</p>
            </div>
            {% endfor %}
        </div>
        <hr />
        <div class="row justify-content-start">
            <div class="col-12">
                <h3 class="small-upper">How we can help</h3>
            </div>
        </div>
        <hr/>
        {% for help in section.help %}
        <div class="row justify-content-start">
            <div class="col-4">
                <i class="bi {{ help.icon }}"></i>
            </div>
            <div class="col-12 col-md-8">
                <h4>{{ help.area }}</h4>
                <p class="large">{{ help.description }}</p>
            </div>
        </div>
        <hr />
        {% endfor %}
    </div>
</div>
{% endfor %}